.create-group-form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    outline: 3px solid white;
    border-radius: 3px;
    padding: 20px;
    width: 50vw;
    height: 75vh;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.create-group-input-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-group-left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 2rem;
    width: 50%;
}

.create-group-left-container > img {
    height: 60%;
    width: 90%;
    object-fit: cover;
    border-radius: 1rem;
}

.create-group-upload-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.create-group-upload-image > label {
    font-size: 1.15rem;
    margin-top: 1rem;
}

#file-upload::file-selector-button {
    font-size: 16px;
    font-weight: bold;
    background-color: #458cd4;
    border: 1px solid #458cd4;
    color: white;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 5px;
    cursor: pointer;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

#file-upload {
    margin-right: 20px;
    margin: 1rem 0;
    cursor: pointer;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.upload-picture-button {
    cursor: pointer;
    font-size: 16px;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600;
    color: white;
    background-color: #458cd4;
    border: 1px solid #458cd4;
    border-radius: 5px;
    padding: 0.5em;
}


.create-group-error {
    color: red;
    font-size: 0.8rem;
}

.create-form-title {
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 36px;
}

.create-group-form {
    display: flex;
    flex-direction: column;
}

.create-group-form-name,
.create-group-form-about,
.create-group-form-type,
.create-group-form-private,
.create-group-form-city,
.create-group-form-state {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.15rem;
    margin: 0.5rem;
}

#create-group-form-name-input,
#create-group-form-city-input,
#create-group-form-state-input {
    border: 2px solid rgba(53, 46, 46, 0.2);
    border-radius: 0.5rem;
    transition-duration: .15s;
    width: 20rem;
    height: 2rem;
}

#create-group-form-about-input {
    border: 2px solid rgba(53, 46, 46, 0.2);
    border-radius: 0.5rem;
    transition-duration: .15s;
    width: 20rem;
    height: 5rem;
}

#create-group-form-type-input,
#create-group-form-private-input {
    border: 2px solid rgba(53, 46, 46, 0.2);
    border-radius: 0.5rem;
    transition-duration: .15s;
    width: 20.5rem;
    height: 2.5rem;
}

#create-group-form-name-input:focus,
#create-group-form-about-input:focus,
#create-group-form-type-input:focus,
#create-group-form-private-input:focus,
#create-group-form-city-input:focus,
#create-group-form-state-input:focus {
    border: 2px solid rgba(53, 46, 46, 0.6);
}

.create-group-form-submit-button {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background-color: #458cd4;
    border-color: #376390;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin: 1rem;
    font-size: 1.5rem;
}

.not-ready-to-create-group {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background-color: gray;
    border-color: gray;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin: 1rem;
    font-size: 1.5rem;
}
