.event-card-container {
    display: flex;
    width: 40rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
}

.event-card-container:hover {
    background-color: rgba(213, 245, 227, 0.2);
}

.event-card-image {
    width: 178px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.event-card-left-blank {
    height: 35px;
    width: 160px;
}

.event-card-right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.event-card-start-date {
    font-size: 14px;
    color: #877457;
}

.event-card-name {
    font-size: 16px;
    color: #212121;
}

.event-card-group {
    font-size: 14px;
    color: #877457;
}

.event-card-attendee {
    font-size: 14px;
    color: #757575;
    margin-top: 30px;
}
