.event-card-container {
    display: flex;
    width: 40rem;
    margin:0 auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.event-card-image {
    height: 90px;
    width: 160px;
}

.event-card-left-blank {
    height: 35px;
    width: 160px;
}

.event-card-right {
    display: flex;
    flex-direction: column;
}

.event-card-start-date {
    font-size: 14px;
    color: #877457;
}

.event-card-name {
    font-size: 16px;
    color: #212121;
}

.event-card-group {
    font-size: 14px;
    color: #877457;
}

.event-card-start-date,
.event-card-name,
.event-card-group {
    margin-left: 1rem;
}
