.group-detail-main {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
    padding-top: 2rem;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.group-detail-main p {
    overflow-wrap: break-word;
}

.group-detail-top {
    display: flex;
    flex-direction: row;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    width: 80%;

}

.group-detail-image {
    height: 40vh;
    width: 50%;
    object-fit: cover;
    border-radius: 10px;
}

.group-detail-name {
    font-size: 32px;
    font-weight: bold;
    color: #212121;
}

.group-detail-address,
.group-detail-members,
.group-detail-header-organizer {
    font-size: 14px;
    color: #212121;
    font-weight: 300;
}

.organizer-name {
    font-weight: 600;
}

.group-detail-events {
    text-decoration: none;
    color: #00A2c7;
    font-size: 20px;
    line-height: 3rem;
    cursor: pointer;
}

.group-detail-about > h2 {
    font-size: 20px;
    color: #212121;
}

.group-detail-about > p {
    font-size: 16px;
    color: #212121;
}

.group-detail-topright {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.group-detail-topright > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-detail-topright img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.group-detail-buttons {
    display: flex;

}

.group-detail-buttons > .button {
    background-color: rgb(226, 236, 232);
    margin-right: 10px;
    border-radius: 4px;
}

.group-detail-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.group-detail-bottom-left {
    width: 40%;
}

.group-detail-bottom-right {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.group-join-leave-button {
    height: 40px;
    width: 150px;
    background-color: #F65858;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #F65858;
    border-radius: 10px;
}

.group-detail-members-container {
    display: flex;
    flex-direction: row;
}

.group-detail-members {
    max-width: 45%;
}

.group-detail-pending-members {
    width: 45%;
    margin-left: 50px;
}

.group-detail-bottom-right h2 {
    font-size: 20px;
}
