.group-detail-main {
    width: 1000px;
    margin: 0 auto;
}
.group-detail-top {
    display: flex;
    flex-direction: row;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;

}

.group-detail-image {
    height: 337px;
    width: 600px;
}

.group-detail-name {
    font-size: 32px;
    font-weight: bold;
    color: #212121;
}

.group-detail-address,
.group-detail-members,
.group-detail-header-organizer {
    font-size: 14px;
    color: #212121;
    font-weight: 300;
}

.organizer-name {
    font-weight: 600;
}

.group-detail-events {
    text-decoration: none;
    color: #00A2c7;
    font-size: 20px;
    line-height: 3rem;

}

.group-detail-bottom {
    display: flex;
    flex-direction: row;
}

.group-detail-about {
    min-height: 150px;
    width: 600px;
}
.group-detail-about > h2 {
    font-size: 20px;
    color: #212121;
}

.group-detail-about > p {
    font-size: 16px;
    color: #212121;
}

.group-detail-topright, .group-detail-organizer {
    margin-left: 20px;
}

.group-detail-buttons {
    display: flex;

}

.group-detail-buttons > .button {
    background-color: rgb(226, 236, 232);
    margin-right: 10px;
    border-radius: 4px;
}
