.events-groups-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.events-groups-bar-events,
.events-groups-bar-groups {
    margin-right: 1rem;
    font-size: 20px;
    color: #757575;
    text-decoration: none;
    font-weight: 600;
}

.navilink-focused {
    font-size: 20px;
    color: #008294;
    margin-right: 1rem;
    font-weight: 600;

}
