/* TODO Add site wide styles */
body {
    margin: 0;
}

button {
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.home-page-container {
    height: 80%;
}
.homepage-bottom-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    padding: 1rem;
    margin-top: 5rem;
    /* height: 10%; */

}

.homepage-bottom-link-para {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 20px;
}

.homepage-bottom-link-para > p {
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.homepage-bottom-link-para > button {
    margin-left: 2rem;
    height: 2.5rem;
    width: 7rem;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.homepage-bottom-link-a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homepage-bottom-link-a > a {
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
}
