.profile-button-container {
    display: flex;
    flex-direction: column;
}

.profile-button-icon {
    height: 2rem;
    width: 2rem;
    background-color: rgb(240, 159, 163);
    border-radius: 50%;
}

.profile-dropdown {
    position: absolute;
    right: 5px;
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
}

.profile-dropdown > li {
    margin-bottom: 0.5rem;
}

.profile-dropdown-navlink {
    text-decoration: none;
}

.profile-dropdown-logout-buttom {
    border-radius: 4px;
}
